---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hub-agent-auth-server
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "hub-helm-chart.labels" . | nindent 4 }}
    app.kubernetes.io/component: auth-server
  {{- with .Values.authServerDeployment.labels }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
  annotations:
  {{- with .Values.authServerDeployment.annotations }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.authServerDeployment.replicas }}
  selector:
    matchLabels:
      app: hub-agent
      component: auth-server
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: hub-agent
        component: auth-server
      {{- with .Values.authServerDeployment.podLabels }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      annotations:
      {{- with .Values.authServerDeployment.podAnnotations }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: hub-agent-auth-server
      automountServiceAccountToken: true
      {{- with .Values.image.pullSecrets }}
      imagePullSecrets:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: hub-agent-auth-server
          image: {{ template "hub-helm-chart.image-name" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - auth-server
            - --listen-addr=:8080
            {{- with .Values.authServerDeployment.args }}
            {{- range . }}
            - {{ . | quote }}
              {{- end }}
              {{- end }}
          env:
          readinessProbe:
            httpGet:
              path: /_ready
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 20
          livenessProbe:
            httpGet:
              path: /_live
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 20
          resources:
          {{- with .Values.resources }}
          {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 65532
            runAsGroup: 65532
            seccompProfile:
              type: RuntimeDefault
      {{- with .Values.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
  {{- toYaml . | nindent 8 }}
  {{- end }}
